<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">検索</div>
         <%= collection_check_boxes(:, Symptom.all,:id, :name) do |s| %>
                <%= s.label { s.check_box + s.text } %>
         <% end %>
    </div>
   <div class="panel-body">
        <%= search_form_for(@symptoms, url: symptoms_path, method: :get) do |f| %>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <%= f.label :name_cont %>
                    <%= f.text_field :name_cont, class: "form-control", pleaceholder: "部分一致" %>
                </div>
            </div>
        </div>
        <% end %>
        <%= f.submit '検索', class: "btn btn-primary" %>
    </div>
</div>