<div class="container-fluid" style="margin-top: 60px">
<% if logged_in? %>
<div class="row">
    <aside class="col-md-4">
        <div class="nav nav-tabs nav-stacked fixed-sidebar" style="z-index: 20; background-color: white">
        <section class="user_info"> 
            <%= render 'shared/user_info' %>
        </section>
        <section class="post_form" %>
            <%= render 'shared/post_form' %>
        </section>
    </aside>
    <div class="col-md-8" style="z-index=10">
        <h3>Post Feed</h3>
        <%= render 'shared/feed' %>
    </div>
</div>
<% else %>

  <div class="container-fluid" style="margin-top: 40px">
      <div>
      <%= image_tag "e48m_5511.jpg" %>
      </div>
         <div class="col-md-12">
             <h1 style="margin-top: 50px", id="page">Let' s Share The Health!</h1>
             <h3 id="page">健康の悩みをシェアしてみませんか？</br>
                  あなたと同じ悩みを持った人がきっといます。
             </h3>
         </div>
  </div>
  <div class="row">
      <div class="col-md-offset-2 col-md-4", style="margin-top: 20px; height: 150px; background-color: #DBFF71">
        <div class="col-md-12">
          <h3 id="title">新規登録は<%= link_to "こちら", signup_path %></h3>
        </div>
      </div>
      <div class="col-md-4 col-offset-md-2", style="margin-top: 20px; height: 150px; background-color: #FFD5EC">
        <div class="col-md-12">
          <h3 id="title">ログインは<%= link_to "こちら", login_path %></h3>
        </div>
      </div>
  </div>
<% end %>
</div>