<div class="container">
    <div class="jumbotron  background-size:cover;">
        <h2><%= @user.name %>さん、Let's share the healthにようこそ</h2>
    </div>
    <div class="row", style="height:300px; background-color: #EEFFFF;">
        <div class="col-md-4 text-center">
           <%= link_to "投稿", new_post_path, :id => 'choice' %>
           <p></p>
        </div>
        <div class="col-md-4 text-left">
            自分の症状から検索する場合は<%= link_to "こちら", search_user_path(@user.id), :id => 'choice' %></br>
              <p></p>
            その他の症状から検索する場合は<%= link_to "こちら", startpickup_path, :id => 'choice' %>
              <p></p>
             
        </div>
        <div class="col-md-4 text-center">
            <%= link_to "お気に入り", favorite_path(@user.id), :id => 'choice' %>
              <p>お気に入りを一覧表示します</p>
            <%= link_to "お気に入られ", followed_post_path(@user.id), :id => 'choice' %>
              <p></p>
        </div>
    </div>
</div>