<div class="container-fluid" style="margin-top: 60px">
<h3 id="header">お気に入り一覧</h3>
<% if current_user.favorites.any? %>
<%= page_entries_info @favorites %>
<ul class="favorite list-unstyled">
  <% @favorites.each do |f| %>
  <li>
    <div class="row">
       <% postuser=  f.post.user %>
       <div class="col-md-1">
            <% if postuser.picture? %>
                <%= image_tag postuser.picture.url, :size =>'80x80'%>
              <% else %>
                <%= gravatar_for(postuser) %>
              <% end %>
              <div class="action clearfix">
                <%= link_to "Profile", user_path(postuser.id), class: "btn btn-info" %>
              </div>
    　 </div>
       <div class="col-md-3">
         <%= postuser.name %></br>
         <%= postuser.age %>歳 <%= postuser.sex %> <br>
         <% current_symptom = current_user.symptoms.pluck(:name) %>
         <% postuser.symptoms.pluck(:name).each do |s| %>
           <% if (current_symptom.include?(s)) %>
             <span class="strong">
           <% end %>
           <%= s %>
           <% if (current_symptom.include?(s) ) %>
             </span>
           <% end %>
         <% end %>
       </div>
       <div class="col-md-6">
         <%= f.content %></br>
         <%= image_tag f.image.url %></br>
        <%= f.post.created_at.in_time_zone.strftime("%Y-%m-%d %H:%M:%S") %>に投稿
       </div>
       <div class="col-md-2 text-right">
           <%= link_to "削除", favorite_path(f.id), method: :delete, class: "btn btn-primary" %>
       </div>
       <% end %>
    </div>
  </li>
<% end %>
</ul>
 <%= paginate @favorites %></br>
</div>
