<div class="row">
    <aside class="col-md-4">
        <section class="user-info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %></br>
                <%= @user.age %></br>
                <%= @user.sex %></br>
            </h1>
            <span>
                <% @user.symptoms.each do |symptom| %>
                <%= symptom.name %>
                <% end %>
            </span>
        </section>
    </aside>
    
    <% if @users.any? %>
        <div class="col-md-8">
        <% @users.each do |user| %>
              <div id="users follow" class="container" style="padding-bottom: 10px">
                 <%= gravatar_for user %>
                 <%= user.name %></br>
                 <%= user.age %></br>
                 <%= user.sex %>
                 <% user.symptoms.each do |symptom| %>
                 <%= symptom.name %>
                 <% end %>
              </div>
        <% end %>
        </div>
    <% end %>
 </div>
