<div class="row">
    <aside class="col-md-4">
        <section class="user-info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %></br>
                <%= @user.age %></br>
                <%= @user.sex %></br>
            </h1>
            <span>
                <% @user.symptoms.each do |symptom| %>
                <%= symptom.name %>
                <% end %>
            </span>
        </section>
    </aside>
    
    <% if @users.any? %>
        <div class="col-md-8">
        <% @users.each do |user| %>
              <div id="users follow" class="container-fluid well" style="padding-bottom: 10px">
                <div class="col-md-4">
                 <%= gravatar_for user %>
                 <%= user.name %></br>
                 <%= user.age %>歳</br>
                 <%= user.sex %></br>
                 <% user.symptoms.each do |symptom| %>
                 <%= symptom.name %>
                 <% end %></br>
                 <div class="action clearfix">
                  <%= link_to "Profile", user_path(user.id), class: "btn btn-info" %>
                 </div>
                </div>
                 <div class="col-md-6 well">
                    <% user.posts.order(created_at: :desc).limit(1).each do |p| %>
                    <%= p.content %>
                    <% end %>
                 </div>
              </div>
        <% end %>
        </div>
    <% end %>
 </div>
