
 <div style="margin-top: 50px; z-index:30" id="btn">
      <% if logged_in? %>
        <% if params[:controller] == 'sessions' && params[:action] == 'show' %>
        <% elsif params[:controller] == 'sessions' && params[:action] == 'create' %>
        <% elsif params[:controller] == 'sessions' && params[:action] == 'new' %>
        <% else %>
            <%= render 'shared/btn' %>
        <% end %>
        <% else %>
      <% end %>
    </div>


<% if @users == nil %>
    <h1 style="margin-top: 100px">"お探しのユーザーは見つかりません。"</h1>
<% else %>
<div class="container" style="margin-top: 80px">
    <% my_symptoms = current_user.symptoms %>
    <%= page_entries_info @users %>
     <div class="container-inner inner-default clearfix">
         <% @users.each do |user| %>
         <div class="row well">
            <div class="col-md-1">
                <% if user.picture? %>
                    <%= image_tag user.picture.url, :size =>'80x80'%>
                <% else %>
                    <%= gravatar_for(user) %>
                <% end %>
              <div class="action clearfix">
                <%= link_to "Profile", user_path(user.id), class: "btn btn-info" %>
              </div>
            </div>
            <div class="col-md-4">
               <%= user.name %></br>
               <%= user.age %>歳</br>
               <%= user.sex %></br>
               <% user.symptoms.each do |symptom| %>
                  <% if @pickup_symptoms.include?(symptom.id) %>
                      <span class="strong"> <%= symptom.name %></span>
                  <% else %>
                      <span> <%= symptom.name %></span>
                  <% end %>
               <% end %>
            </div>
            <% if user.posts.any? %>
        　　　　最近の投稿
               <div class="col-md-6" style="background-color: #FFFFDD">
                 <% user.posts.order(created_at: :desc).limit(1).each do |p| %>
                 <%= p.content %>
                 <% end %>
               </div>
             <% end %>
            </div>
        <% end %>
    </div>
    <%= paginate @users %>
</div>
<% end %>
<div>
     <%= link_to "戻る", session_path(current_user.id), method: :get, class: "btn btn-primary" %>
</div>


