<div class="container">
    <% my_symptoms = current_user.symptoms %>
    <%= page_entries_info @users %>
     <div class="container-inner inner-default clearfix">
         <% @users.each do |user| %>
           <%= gravatar_for(user) %>
           <%= user.name %></br>
           <%= user.age %></br>
           <%= user.sex %></br>
           <% user.symptoms.each do |symptom| %>
             <%if my_symptoms.include?(symptom) %>
                <span class="strong"> <%= symptom.name %></span>
             <% else %>
                <span> <%= symptom.name %></span>
             <% end %>
           <% end %>
        <div class="action clearfix">
          <%= link_to "Profile", user_path(user.id), class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
    <%= paginate @users %>
</div>
<div>
     <%= link_to "戻る", session_path(current_user.id), method: :get, class: "btn btn-primary" %>
</div>