<h1>User</h1>

<div class="container">
     <div class="container-inner inner-default clearfix">
         <% @users.each do |user| %>
           <%= gravatar_for(user) %>
           <%= user.name %></br>
           <%= user.age %></br>
           <%= user.sex %></br>
           <% user.symptoms.each do |symptom| %>
             <%= symptom.name %>
           <% end %>
         <% end %>
     </div>
</div>
  
<div>
   <%= form_for(current_user.following_relationships.build, remote: true) do |f| %>
     <div><%= hidden_field_tag :followed_id, current_user.id %></div>
     <%= f.submit "Follow", class: "btn btn-primary" %>
    <% end %>
</div>
