<div class="row" style="margin-top: 60px">
    <aside class="col-md-4">
        <section class="user-info">
          <h1>
              <% if @user.picture? %>
                  <%= image_tag @user.picture.url, :size =>'80x80'%>
              <% else %>
                  <%= gravatar_for @user %>
              <% end %>
             <%= @user.name %></br>
             <%= @user.age %>歳</br>
          </h1>
            <span>
                <% @symptoms.each do |symptom| %>
                  <% if logged_in? %>
                    <% if current_user.symptoms.include?(symptom) %>
                      <span class="strong"> <%= symptom.name %></span>
                    <% else %>
                      <span> <%= symptom.name %></span>
                    <% end %>
                  <% else %>
                    <%= symptom.name %>
                  <% end %>
                <% end %>
            </span></br>
           <span>
            <%= @user.following_users.count %>
            <%= link_to "フォロー", followings_user_path %>
           </span>
           <span>
             <%= @user.follower_users.count %>
             <%= link_to "フォロワー", followers_user_path %>
           </span>
        </section>
         <div class="col-md-4">
             <% if logged_in? %>
             <%= render 'follow_form' %>
             <% else %>
             <%= link_to "Log_in", login_path, class: "btn btn-primary" %>
             <% end %>
           </div>
        <div>
          <% if @user == current_user %>
              <%= link_to "戻る", session_path(current_user.id), method: :get, class: "btn btn-primary" %>
          <% else %>
              <%= link_to "戻る", search_user_path, class: "btn btn-primary" %>
          <% end %>
        </div>
    </aside>
    <div class="col-md-8">
        <% if @user.posts.any? %>
        <h3>"投稿" (<%= @user.posts.count %>)</h3>
        <ul class="post list-unstyled">
            <%= page_entries_info @posts %>
            <%= render @posts %>
            <%= paginate @posts %>
        </ol>
        <% end %>
    </div>
</div>
<div>
    <%= render 'shared/btn' %>
</div>
