<div class="row">
    <aside class="col-md-4">
        <section class="user-info">
          <h1>
             <%= gravatar_for @user %>
             <%= @user.name %></br>
          </h1>
            <span>
                <% @symptoms.each do |symptom| %>
                  <% if current_user.symptoms.include?(symptom) %>
                    <span class="strong"> <%= symptom.name %></span>
                  <% else %>
                    <span> <%= symptom.name %></span>
                  <% end %>
                <% end %>
            </span></br>
           <span>
            <%= @user.following_users.count %>
            <%= link_to "Followings", followings_user_path %>
           </span>
           <span>
             <%= @user.follower_users.count %>
             <%= link_to "フォロワー", followers_user_path %>
           </span>
        </section>
         <div class="col-md-3">
            <%= render 'follow_form' if logged_in? %>
           </div>
    </aside>
    <div class="col-md-8">
        <% if @user.posts.any? %>
        <h3>"投稿" (<%= @user.posts.count %>)</h3>
        <ul class="post list-unstyled">
            <%= page_entries_info @posts %>
            <%= render @posts %>
            <%= paginate @posts %>
        </ol>
        <% end %>
    </div>
</div>
<div>
    <% if @user == current_user %>
      <%= link_to "戻る", session_path(current_user.id), method: :get, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "戻る", search_user_path, class: "btn btn-primary" %>
    <% end %>
</div>