<li id="post-<%= post.id %>">
    <span class="content">
        <%= post.content %>
    </span>
    <span class="image">
        <%= image_tag post.image.url if post.image? %>
    </span></br>
    <span class="timestamp">
        Posted<%= time_ago_in_words(post.created_at) %>ago.
        <% if current_user == post.user %>
          <%= link_to "削除", post, method: :delete, 
                                      data: { confirm: "You sure?" } %>
        <% end %></br>
        <% unless current_user == post.user %>
           <%= link_to "お気に入りに追加",
            favorites_path(post_id: post.id, user_id: current_user),
            method: :post,
            class: "btn btn-primary" %>
        <% end %>
    </span>
</li>