<div class="container-fluid">
<h3 class="page-header">お気に入りされた投稿</h3></br>
<% Time.zone = 'Asia/Tokyo' %>
<%= page_entries_info @faved_posts %>
<ol>
<% @faved_posts.each do |p| %>
<li>
  <div class="row">
    <div class="col-md-8">
      <%= p.content %></br>
      <%= image_tag p.image.url if p.image.url.present? %></br>
       <%= p.created_at.in_time_zone.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
    <div class="col-md-4">
      <%= p.favusers.count %> 回お気に入り
    </div>
  </div>
</li>
<% end %>
</ol>
</div>
<%= paginate @faved_posts %>
<%= @count %></br>
</div>


